.all_top{background-image: url(http://st-static.oss-cn-beijing.aliyuncs.com/level2-3.gif);
              background-size:cover;
               /*解决background-size在ie8下的兼容性*/
                 filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(
                 src='https://img.alicdn.com/tps/TB106YEJFXXXXazXFXXXXXXXXXX-1190-330.jpg',
                 sizingMethod='scale');height:250px;z-index:1;position: relative;margin-bottom:20px;}
.password_back{background: #fff;border-radius: 4px;padding:20px 20px 0px 20px;}
.form_head{padding:5px 10px;}
.products_img{display: inline;max-width: 80px;max-height: 80px;} 
.label_width{width:70px;}
.input_width{width:175px;}