/*左侧导航*/
.panel-group_defined{border: 2px #ececec solid;width:100%;background: #fff;font-size: 14px;padding-bottom: 15px;}
.panel_defined{background: transparent;border:0px;background-color: #fff;}
.panel-heading_defined{padding-bottom: 0px;}
.panel-title_defined{line-height: 43px;border-bottom: 1px rgba(209, 209, 209, 0.53) solid;}
.panel-body_defined{padding-bottom: 0px;border-top:0px;padding-top: 5px;}
.panel-group .panel+.panel {margin-top: 0px; }
.mysetting{padding:5px;}
/*横向胶囊导航*/
.nav-pills .defined_active{background-color: #94DEEC;}
.nav-pills_defined li a {background-color: #C6D5D8;border-radius: 0px;padding: 6px 15px;margin-left: 4px;color: #fff;}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{background-color:#94DEEC;}
.nav>li>a:hover {text-decoration: none;background-color: #94DEEC;}
.orderliststyle{width: 120px;
display: inline-block;
border-radius: 0px;
padding: 4px 8px;}
.table_head{
padding: 15px 12px 0px 12px;
font-size: 13px;
}
.border_gray{border: 2px #ececec solid;}

/*右侧下部分我的订单*/
.myorderlist{
font-weight: 600;}
.view_more_orderlist{line-height: 22px;
display: block;}

.products_img{display: inline;max-width: 80px;max-height: 80px;}
.operate_order{background-color: transparent;
border: 1px solid #999;
padding: 2px 5px;margin-right:10px;}
@media only screen and (min-width:400px) and (max-width:750px){.three_state{text-align:center;}}                                   
@media screen and (max-width:750px){
                                      .order_number{margin-left:-15px;}
                                      .order_state{margin-right:-15px;}
                                   }

