/*左侧导航*/
.panel-group_defined{border: 2px #ececec solid;width:100%;background: #fff;font-size: 14px;padding-bottom: 15px;}
.panel_defined{background: transparent;border:0px;background-color: #fff;}
.panel-heading_defined{padding-bottom: 0px;}
.panel-title_defined{line-height: 43px;border-bottom: 1px rgba(209, 209, 209, 0.53) solid;}
.panel-body_defined{padding-bottom: 0px;border-top:0px;padding-top: 5px;}
.panel-group .panel+.panel {margin-top: 0px; }
.mysetting{padding:5px;}
/*右侧表单*/
.form_head{padding:5px 10px;}
.travel_love div li a{display: inline-block;
margin: 5px 10px;
border-radius: 4px;
padding: 5px 10px;
text-align: center;
border: 1px rgba(170, 170, 170, 0.47) solid;
}
.travel_love div li{list-style-type: none;}