/*左侧导航*/
.panel-group_defined{border: 2px #ececec solid;width:100%;background: #fff;font-size: 14px;padding-bottom: 15px;}
.panel_defined{background: transparent;border:0px;background-color: #fff;}
.panel-heading_defined{padding-bottom: 0px;}
.panel-title_defined{line-height: 43px;border-bottom: 1px rgba(209, 209, 209, 0.53) solid;}
.panel-body_defined{padding-bottom: 0px;border-top:0px;padding-top: 5px;}
.panel-group .panel+.panel {margin-top: 0px; }
.mysetting{padding:5px;}
/*右侧上部分基本信息*/
.user_name{font-size: 20px;
font-weight: 600;
color: #4A4545;}
.orderlist_style{width: 55px;
height: 55px;
font-size: 35px;
background: rgba(153, 153, 153, 0.25);
border-radius: 30px;
color: #EB9D55;}
.paylist{
margin-top: 10px;}
.tourist_img{width:120px;height:120px;display: inline;}
/*右侧下部分我的订单*/
.myorderlist{
font-weight: 600;}
.view_more_orderlist{line-height: 22px;
display: block;}

.products_img{display: inline;max-width: 80px;max-height: 80px;}
.operate_order{background-color: transparent;
border: 1px solid #999;
padding: 2px 5px;margin-right:10px;}
@media only screen and (min-width:400px) and (max-width:750px){.three_state{text-align:center;}}                                   
@media screen and (max-width:750px){
                                      .order_number{margin-left:-15px;}
                                      .order_state{margin-right:-15px;}
                                   }

/*
 * Style tweaks
 * --------------------------------------------------
 */

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
