
/*右侧上部分基本信息*/
.user_name{font-size: 20px;
font-weight: 600;
color: #4A4545;}
.orderlist_style{width: 55px;
height: 55px;
font-size: 35px;
background: rgba(153, 153, 153, 0.25);
border-radius: 30px;
color: #EB9D55;}
.paylist{
margin-top: 10px;}
.tourist_img{width:120px;height:120px;display: inline;}
/*右侧下部分我的订单*/
.myorderlist{
font-weight: 600;}
.view_more_orderlist{line-height: 22px;
display: block;}

.products_img{display: inline;max-width: 80px;max-height: 80px;}
.operate_order{background-color: transparent;
border: 1px solid #999;
padding: 2px 5px;margin-right:10px;}
@media only screen and (min-width:400px) and (max-width:750px){.three_state{text-align:center;}}                                   
@media screen and (max-width:750px){
                                      .order_number{margin-left:-15px;}
                                      .order_state{margin-right:-15px;}
                                   }

