
/*右侧表单*/
.form_head{padding:5px 10px;}
.travel_love a{display: inline-block;
margin: 5px 3px;
border-radius: 4px;
padding: 5px 10px;
text-align: center;
border: 1px rgba(170, 170, 170, 0.47) solid;
width:75px;
}
.form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
padding-top: 5px;
margin-top: 0;
margin-bottom: 0;
}

.else_active{background: #78A8DA;border-color:#fff;color:#fff;}