@charset "utf-8";
 body{padding-bottom:0px;background-color:rgba(51,153,204,0.08);font-family: 微软雅黑, 'Microsoft YaHei';}
 a {
  color:#999;
  text-decoration: none;
  }
   a:link {
  text-decoration: none;
  }
  a:visited {
  text-decoration: none;
  }
 a:hover {text-decoration:none;}

  a:active {
  text-decoration: none;
  }
/*.all_top{height:250px;z-index:1;position: relative;margin-bottom:20px;}*/
.all_top1{z-index:999;position: relative;margin-bottom:20px;}
.in_center{text-align: center;}
.in_left{text-align: left;padding-left: 5px;padding-right: 5px;}
.in_right{text-align: right;padding-right: 5px;}
.text_right{text-align: right;}
.inner img{width:100%;}
.inner_img img{width:100%;}
.mar_left{margin-left: -15px;}
.nodi{display:none!important;}
.db{display:block!important;}
/*颜色*/
.bgc_white{background-color:#fff;}
.bgc_blue{background-color:#94DEEC;}
.bgc_gray{background-color:#999;}
.bgc_orange{background-color:#EB9D55;}
.cor_white{color:#fff;}
.cor1{color: #EBEBEB;}
.cor_blue{color:#09C;}/*蓝色*/
.cor_orange{color:#EB9D55;}/*橙色*/
.cor_gray{color:#999;}/*灰色*/
.border_gray{border: 2px #ececec solid;}
/*页面边距*/
.mt_10{margin-top:-10px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt50{margin-top:50px;}
.mt_375{margin-top:-375px;}
.mt_215{margin-top:215px;}
.mb15{margin-bottom:15px;}
.mb_10{margin-bottom:-10px;}
.mr15{margin-right:15px;}
.ml10{margin-left:10px;}
.padRig1{padding-right:10px;}
.row_space{margin-bottom: 5px;}
.row_top_space{margin-top: 10px;}
.row_bottom_space{margin-bottom: 10px;}
.row_bottom_space1{margin-bottom: 20px;}
.pt5{padding-top:5px;}
.pt15{padding-top:15px;}
.pl0{padding-left:0px;}
.pr0{padding-right:0px;}
.header_image{height: 250px;width: 100%;margin-bottom: 20px;}
.line_height80{line-height:80px;}
.line_height70{line-height:70px;}
/*字体大小*/
.font_size10{font-size:10px;}
.font_size12{font-size:12px;}
.font_size13{font-size:13px;}
.font_size16{font-size:16px;}
.font_size18{font-size:18px;}
.font_size20{font-size:20px;}