@charset "utf-8";
 body{padding-bottom:0px;background-color:rgba(51,153,204,0.08);font-family: 微软雅黑, 'Microsoft YaHei';}
 a {
  color:#999;
  text-decoration: none;
  }
   a:link {
  text-decoration: none;
  }
  a:visited {
  text-decoration: none;
  }
 a:hover {text-decoration: none;}

  a:active {
  text-decoration: none;
  }
.in_center{text-align: center;}
.in_left{text-align: left;padding-left: 5px;padding-right: 5px;}
.in_right{text-align: right;padding-right: 5px;}
.inner img{width:100%;}
.inner_img img{width:100%;}
.mar_left{margin-left: -15px;}
/*颜色*/
.bgc_white{background-color:#fff;}
.cor_white{color:#fff;}
.cor1{color: #EBEBEB;}


/*页面边距*/
.mt_10{margin-top:-10px;}
.mt20{margin-top:20px;}
.mt_215{margin-top:215px;}
.padRig1{padding-right:10px;}
.row_space{margin-bottom: 5px;}
.row_top_space{margin-top: 10px;}
.row_bottom_space{margin-bottom: 10px;}
.row_bottom_space1{margin-bottom: 20px;}

.header_image{height: 250px;width: 100%;margin-bottom: 20px;}

