@charset "utf-8";

 body{padding-bottom:0px;background-color:rgba(51,153,204,0.08);font-family: 微软雅黑, 'Microsoft YaHei';}
 a {
  color:#999;
  text-decoration: none;
  }
   a:link {
  text-decoration: none;
  }
  a:visited {
  text-decoration: none;
  }
 a:hover {text-decoration: none;}

  a:active {
  text-decoration: none;
  }
.in_center{text-align: center;}
.in_left{text-align: left;padding-left: 5px;padding-right: 5px;}
.in_right{text-align: right;padding-right: 5px;}
.inner img{width:100%;}
.inner_img img{width:100%;}
.mar_left{margin-left: -15px;}
/* 主页 */
.theme_image1{background-image: url(../images/themeimage1.jpg);width:100%;background-repeat: no-repeat;height:375px;background-size:cover;}
.theme_image2{background-image: url(../images/themeimage2.png);width:100%;background-repeat: no-repeat;height:375px;background-size:cover;}
.theme_image3{background-image: url(../images/themeimage3.jpg);width:100%;background-repeat: no-repeat;height:375px;background-size:cover;}
.theme_image4{background-image: url(../images/themeimage4.jpg);width:100%;background-repeat: no-repeat;height:375px;background-size:cover;}
.carousel {height: 375px;margin-bottom: 40px;}
.carousel .item {height: 375px;}
.carousel-caption p {font-size: 45px;margin-top: -170px;font-family: 黑体;}
@media screen and (max-width:750px){.carousel-caption p{font-size: 30px;margin-top: -168px;}
                                   }    
.navbar_defined_homepage {
  	margin-top: -375px;
  	border-color: transparent;
    font-size: 16px;
    background-color: rgba(34, 34, 34, 0.52);
    border:0px;
    border-radius: 0px;
    position: absolute;
    width: 100%;
    z-index: 1000;
  }
.navbar-header img {width: 55px;height: 40px;}
.navbar-right li a{padding-right:0px;font-size: 12px;}
.mobilephone_tdc{margin-left: 8px;
font-size: 12px;
color: #fff;
background-color: transparent;
border: 0px;
margin-top: 16px;}
.popover-content {
padding: 9px 14px;
text-align: center;}
.popover.bottom {
margin-top: 10px;
width: 130px;}
.Depopover{}
/* 下拉框*/
/*.dropdown_narrow{min-width: 84px;
padding: 0px 0;
margin: 0px 0 0;} */
/* 选择城市*/
/*.modal-content a:hover {
    color:#36F;
  text-decoration: none;
  }
.choose_city {
padding-top: 13px;
padding-bottom: 15px;
background-color: transparent;
color:#fff;
}
.city_list{margin-bottom: 10px;

}
.city_list a {
color: #333;
margin-right: 15px;
}

.city_1 {
margin-top: -21px;
margin-left: 79px;
margin-bottom: 25px;
}

.city_2 {
margin-top: -21px;
margin-left: 79px;
margin-bottom: 8px;
}*/
#summary-container .col-md-4 {padding-left: 10px;padding-right: 10px;}  
#route1_title .col-md-12{padding-left: 10px;padding-right: 10px;}
.route1_discription .col-md-12{padding-left: 10px;padding-right: 10px;}
.route1_discription .col-md-6{padding-left: 10px;padding-right: 10px;}

#summary-container .col-md-8 {padding-left: 12px;padding-right: 12px;}

#summary-container .col-md-3 {padding-left: 1px;padding-right: 1px;}
.find_discription{margin-left: -15px;margin-right: -15px;}
.house_discription{margin-left: -15px;margin-right: -15px;}
.house_price{margin-left: -15px;margin-right: -15px;}
#summary-container{margin-bottom: 40px;}
#summary-container .row{margin-left:0px;margin-right: 0px;}
.headline{font-size:30px;}
.subline{font-size:16px;margin-top: -10px;margin-bottom: 15px;}
.more {font-size: 20px;line-height: 50px;margin-top: -10px;}
.more a:hover {color:#F96;text-decoration: none;}  
                             



/*经典线路样式*/
.homepage_route_back{background: #fff;}
.inner{margin-bottom: 20px;}
.bg {
  display: block;
  height: 80px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(http://static.qyer.com/static/plan/old/models/project/plan/web/images/index/plan_list_bg.png) repeat-x;
  opacity: .7;
  margin-top: -80px;
  }
.route1_title{height:60px;zoom: 1;margin-top: -60px;background: #000;}
.title_text1{font-size:20px;color:#FFF;margin-top:2px;margin-bottom:0px;}
.title_text2{font-size:15px;color:#FFF;margin-top:4px;}
.route1_discription{ padding-bottom: 10px;background: #fff;}
.route1_discription p{margin-bottom:5px;font-size:13px;}
.discription_left1{padding-top: 15px;color: #443E3E;}
.discription_left2{padding-top: 5px;color:#09C;}
.discription_right1{padding-top: 5px;font-size:12px;color: #868080;}

/*发现北京样式*/
.find_discription {
background: rgba(0,0,0,.6);
padding-bottom: 10px;
height: 60px;
margin-top: -60px;
color: #fff;
padding-top: 4px;
}
.find_discription_title{font-size:22px;}

/*度假民宿样式*/
.house_price {
font-size: 20px;
color: #FFF;
background-color: rgba(228, 130, 23, 1);
width: 100px;
height: 40px;
padding-top: 5px;
margin-top: -50%;
}
.house_discription {
background: rgba(0,0,0,.6);
padding-bottom: 10px;
height: 30px;
margin-top: -30px;
color: #fff;
padding-top: 4px;
}
.left{float: left;padding-left: 20px;}
.right1{float: right;padding-right: 20px;}
.right2{float: right;padding-right: 8px;color:#4ea1f5;}

/*底部样式*/
#bottom {background: #525050;padding-top: 40px;padding-bottom: 40px;color: #B4B2B2;font-size: 10px;}
#bottom .widget {margin-top: 20px;}
#bottom ul {list-style: none;padding: 0;margin-left: 2px;}
#bottom ul li {display: block;padding: 5px 0;}
.weibo_image{width:99px;height:99px;}
.line {height: 210px;width: 0;border-left: 1px #3c3c3c solid;border-right: 1px #696969 solid;}
.line1 {margin-top: -136px;margin-left: 76%;}
.line2 {margin-top: -192px;margin-left: 76%;}
.up{margin-top: -190px;}

#backtotop {
height: 50px;
bottom: 0px;
float:right;
position:fixed;
right: 1%;
}
@media screen and (max-width:992px){#line1{visibility:hidden;}
                                      #line2{visibility:hidden;}
                                      #line3{visibility:hidden;}
                                    }     

/* //经典路线二级页面// */
.all_top{height:250px;z-index:1;position: relative;margin-bottom:20px;}

.navbar_defined_route {
    border-color: transparent;
    font-size: 16px;
    background-color: rgba(34, 34, 34, 0.52);
    border:0px;
    border-radius: 0px;
    margin-top: -270px;
    position:relative;
  }

 .navbar_defined {
    border-color: transparent;
    font-size: 16px;
    background-color: rgba(34, 34, 34, 0.52);
    border:0px;
    border-radius: 0px;
  
  } 
.header_image{height: 250px;width: 100%;margin-bottom: 20px;}
/*左侧导航*/
.panel-group_defined{border: 2px #ececec solid;width:100%;background: #fff;font-size: 14px;}
#collapseTwo .choosetheme a:visited{border: 1px #4ea1f5 solid;}
#collapseFour .panel-body a:visited{border: 1px #4ea1f5 solid;}
/*#collapseTwo .choosetheme a:hover{border: 1px #4ea1f5 solid;}
#collapseFour .panel-body a:hover{border: 1px #4ea1f5 solid;}*/
#collapseOne a{display: block;margin-bottom: 8px;}
#collapseThree a{display: block;margin-bottom: 8px;}
/*.panel-body a:visited{color:#4ea1f5;}*/
/*.panel-body a:hover{color:#4ea1f5;} */
.panel_defined{background: transparent;border:0px;background-color: #fff;}
.panel-group .panel+.panel {margin-top: 0px; }
.panel-heading_defined{padding-bottom: 0px;}
.panel-body_defined{padding-bottom: 0px;border-top:0px;}
.panel-title_defined{line-height: 43px;
border-bottom: 1px #d1d1d1 solid;
font-size: 18px;
color: #333;}
.choosetheme a {
display: inline-block;
width: 100%;
margin-bottom: 10px;
border: 1px rgba(170, 170, 170, 0.47) solid;
border-radius: 4px;
padding: 5px;
text-align: center;
}
 .label {
display: inline-block;
width: 15%;
border: 1px #4ea1f5 solid;
border-radius: 20px;
padding: 3px;
text-align: center;
float: right;
font-size: 12px;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 3px;
margin-right: 3px;
color: #4ea1f5;
}
.all {font-size:15px;color: #4ea1f5;}
.row_space{margin-bottom: 5px;}
.click_down {
color: #999;
float: right;
margin-top: 18px;
font-size: 14px;
margin-right: 23px;
}
.place_days{font-size: 15px;}
.place_days_active{color:#4ea1f5;}
/*横向胶囊导航*/
.nav-pills .defined_active{background-color: #94DEEC;}
 .nav-pills_defined li a {
background-color: #C6D5D8;
border-radius: 0px;
padding: 6px 15px;
margin-left: 4px;
color: #fff;
}
/*下拉框*/
.dropdown-menu{border:0px;box-shadow:0px;background:#C6D5D8;margin: 2px 0px 0px 4px;}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{background-color:#94DEEC;}
.nav>li>a:hover {
text-decoration: none;
background-color: #94DEEC;
}
.mar_0{margin-left: 0px!important;margin-top: 0px!important;}
/*分页效果样式*/
.quotes {
    padding-right: 3px; padding-left: 3px; padding-bottom: 3px; margin: 3px; padding-top: 3px; text-align: center; font-family:Verdana; font-size:12px;
}
.quotes a {
    border-right: #ddd 1px solid; padding-right: 5px; border-top: #ddd 1px solid; padding-left: 5px; padding-bottom: 2px; border-left: #ddd 1px solid; color: #aaa; margin-right: 2px; padding-top: 2px; border-bottom: #ddd 1px solid; text-decoration: none
}
.quotes a:hover {
    border-right: #a0a0a0 1px solid; padding-right: 5px; border-top: #a0a0a0 1px solid; padding-left: 5px; padding-bottom: 2px; border-left: #a0a0a0 1px solid; margin-right: 2px; padding-top: 2px; border-bottom: #a0a0a0 1px solid
}
.quotes a:active {
    border-right: #a0a0a0 1px solid; padding-right: 5px; border-top: #a0a0a0 1px solid; padding-left: 5px; padding-bottom: 2px; border-left: #a0a0a0 1px solid; margin-right: 2px; padding-top: 2px; border-bottom: #a0a0a0 1px solid
}
.quotes span.current {
    border-right: #e0e0e0 1px solid; padding-right: 5px; border-top: #e0e0e0 1px solid; padding-left: 5px; font-weight: bold; padding-bottom: 2px; border-left: #e0e0e0 1px solid; color: #aaa; margin-right: 2px; padding-top: 2px; border-bottom: #e0e0e0 1px solid; background-color: #f0f0f0
}
.quotes span.disabled {
    border-right: #f3f3f3 1px solid; padding-right: 5px; border-top: #f3f3f3 1px solid; padding-left: 5px; padding-bottom: 2px; border-left: #f3f3f3 1px solid; color: #ccc; margin-right: 2px; padding-top: 2px; border-bottom: #f3f3f3 1px solid
}
/*右边列表*/
.route_back{margin-top: 10px;padding:15px;}
.route_left_title{color:#332D2D;}
.text1{font-size: 14px;color:#666;}
.text2{font-size: 12px;color:#4ea1f5;margin-top: 10px;}
.price_right {float: right;color: #ACA8A5;font-size: 15px;font-family: 黑体;}
.pager {margin: 0px 0;text-align: right;}

@media screen and (max-width:768px){ .label{float:left;} 
                                     #pager{}
}     
@media screen and (max-width:750px){ .price_right {float: left;color: #ACA8A5;font-size: 15px;font-family: 黑体;}
                                     
} 
/*//发现北京样式//*/
/*发现北京地图页*/
.spot_search_text{color:#797777;}
.spot_search_text p a strong{font-size: 15px;color:#78A8DA;}
.city_active{background: #78A8DA;border-color:#fff;color:#fff;}
.city_inactive{color:#999;}
.hot_spot {margin-right:10px;}
.display_in{display: run-in;}
.display_none{display: none;}
.right_back{padding:90px 10px 20px 0px;}
.right_back ul{list-style:none;-webkit-padding-start: 0px;margin-bottom:5px;}
.right_back ul li{}
.right_back ul li a{width:100%;}
.else_active{background: #78A8DA;border-color:#fff;color:#fff;}
.btn_defined{background: #78A8DA;width: 100%;color:#fff;}
.beijingmap{padding-left: 0px;}
/*.else_one ul div li a:hover{color:#fff;background: }*/
/*面包屑导航*/
.breadcrumb{background-color: #fff;margin-bottom: 0px;padding: 10px 8px;}
.breadcrumb a{color:#588DC2;}
.breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "> ";
    padding: 0 5px;
}
.search_back{background-color: #fff;padding: 5px;}
/*.filter {border: 2px #ececec solid;width:100%;background: #fff;font-size: 16px;
          height: 250px;padding:10px;margin-bottom: 15px;} */
/*.filter_height{height: 250px;}*/
.filter1_title{color: #75B9CE;} 
.filter2_title{color: #7D8ABB;} 
.filter3_title{color: #EB9D55;} 
.filter4_title{color: #4AA825;} 
.filter_body a{display: inline-block;
width: 100%;
margin-bottom: 4px;
border-radius: 4px;
padding: 5px;
text-align: center;
border: 1px rgba(170, 170, 170, 0.47) solid;
}

.filter_2{background:#fff;margin-bottom:15px;margin-top:15px;}
.filter_title_2{padding-right:0px;}
.filter_body_2 ul li a{display: inline-block;
margin: 5px 10px;
border-radius: 4px;
padding: 5px 10px;
text-align: center;
border: 1px rgba(170, 170, 170, 0.47) solid;
}
@media screen and (min-width:750px){
                                      .mar_left1{margin-left: -20px;}
                                    } 
@media screen and (max-width:750px){
                                      .mar_left1{margin-left: 15px;}
                                    }   
.filter_body_2{
    padding-left: 0px;   
}
.filter_body_2 .col-md-3{padding-left: 0px;}
.filter_body_2 .col-md-4{padding-left:5px;padding-right:5px;}
.filter_body_2 .col-md-6{padding-left:5px;padding-right:5px;}

.season_pad{padding: 5px 17px;}
.padRight{padding-right:0px;}
.padfour{padding-top: 15px;padding-bottom: 15px;padding-left: 10px;padding-right:25px;}
.filter_body .col-md-3{padding-right: 0px;}
.filter_body .col-md-4{padding-left:5px;padding-right:5px;}
.filter_body .col-md-6{padding-left:5px;padding-right:5px;}

.ad_image{height: 100px;width: 100%;margin-bottom: 20px;}
.images_list .col-md-3{padding-left:5px;padding-right:5px;}
.images_list {margin-left: 0px;margin-right: 0px; }
.spot_discription{margin-top:-130px;width: 100%;height: 130px;padding: 20px 0px 10px 0px;
  background: url(https://gtms03.alicdn.com/tps/i3/TB19JS3HVXXXXafXpXXxIHh6FXX-230-130.png) repeat;}
.find_title{color: #fff;font-size: 16px;}
.find_text{color: #fff;font-size: 12px;}  

.city_theme_all{display: inline-block;
border: 0px;
padding: 5px 0px 5px 25px;
color: #78A8DA;
float: right;
margin-right: -10px;
}
/*某一景点*/
.scenery_spot1{/*background-image: url(http://st-alpha.oss-cn-beijing.aliyuncs.com/59c6b649feb3429492c0def9add3f395);*/width:100%;background-repeat: no-repeat;height:375px;background-size:cover;}
.spot_back_position{
width: 100%;
margin-top: -290px;}
.spot_back_title{background: rgba(87, 85, 85, 0.58);
padding: 2px;
color: #fff;}

.spot_back{background: rgba(214, 213, 213, 0.58);padding: 15px;}
.spot_back {padding-left: 20px;padding-right: 20px;}
.spot_back_theme{display: inline-block;
margin: 5px 10px 0px 0px;
border-radius: 10px;
padding: 5px 10px;
text-align: center;
border: 0px rgba(77, 154, 184, 0.47) solid;
background: rgba(255, 255, 255, 0.47);
color: #287C88;}
.spot_introduction1{color: #534D4D;margin-top: 10px;}
.text_color_light{color: #C42E2E;
font-size: 20px;}
.spot_introduction2{color: rgba(60, 55, 55, 0.8);
padding-left: 0px;
margin-top: 8px;
font-size: 15px;
font-weight: 700;}

.row_top_space{padding-top: 300px;}
.row_bottom_space{margin-bottom: 10px;}
.row_bottom_space1{margin-bottom: 20px;}

@media screen and (max-width:992px){#basic_information1 .panel-body {padding: 15px 5px;}
                                    } 
@media screen and (min-width:992px){#basic_information1 .panel-body {padding: 15px 25px;}}
 /*某一景点的固定顶部导航栏*/


.spot_title_color{color:#45A4C9;}
.navbar-inverse .navbar-toggle {
border-color: transparent;
background-color: #45A4C9;
}
.basic_information{padding: 20px;}
.anchor_place{position:relative;height:0px;top:-70px;}

/*基本信息*/
/*左侧图片集*/
 .sp-wrap {
    display:none;
    line-height:0;
    font-size:0;
    background:#eee;
    position:relative;
    border: 1px solid #E4E4E4;
}
.sp-large {
    position:relative;
    overflow:hidden;
}
.sp-large a img {
    max-width:100%;
    height:auto;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}

.sp-large a {
    display:inline-block;
}
.sp-thumbs {
    width:100%;
    text-align:left;
}

.sp-thumbs img { width:60px;height:60px;}
             
                                     
.sp-thumbs a:link, .sp-thumbs a:visited {
    border:5px solid #eee;
    display:inline-block;
}
.sp-thumbs a:hover, .sp-thumbs a:active, .sp-current {
    border:5px solid rgba(228, 130, 23, 0.61)!important;
}
.sp-zoom {
    position:absolute;
    left:0;
    top:0;
    cursor:zoom;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
    display:none;
}
.more_images{color: rgba(228, 130, 23, 1);padding: 20px 7px;float: right;margin-top: -67px;position: relative;}
/*旅游详情*/
.travel_details{background: rgba(14, 14, 14, 0.32);margin-top: -220px;color: #fff;height: 180px;padding: 20px;}
@media screen and (max-width:992px){.travel_details{margin-top:0px;background: #fff;color: #000;padding: 20px;}                    
                                    } 
.traffic_and_tickets{padding-left: 20px;padding-right:20px;padding-top:0px;}
.traffic_and_tickets h5{color:rgba(228, 130, 23, 1);}
.traffic_and_tickets p b{color:rgba(228, 130, 23, 1);}
.hotel_entrance{background: #F0F3EB;}
.hotel_entrance p{font-size: 12px;}
.hotel_name{margin-bottom: 10px;}
.Reroute_name{font-size: 16px;}

.hotel_price_old{color: #5B6468;font-size: 15px;margin-top: 2px;}
.hotel_price_now{color: #DF893A;font-size: 18px;}
/*.hotel_price_save{border: 1px solid #ffa338;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-ms-border-radius: 2px;
border-radius: 2px;
color: #ffa338;
padding: 2px;
display: inline-block;}
.look_more{margin-top: 2px;}*/
.look_more a {
padding: 5px 10px;
color: #DF893A;
}

/*周周点评*/
  .tourist_pictures{width:80px;}
@media screen and (max-width:992px){#zhouzhou_comment1 .panel-body {
                                     padding: 15px 5%;}
                                     .comment_picturesNum{margin-top:5px;color:#337ab7;display:block;}
                                    
                                    } 
@media screen and (min-width:992px){#zhouzhou_comment1 .panel-body {
                                     padding: 15px 10%;}
                                     .comment_picturesNum{margin-top: 55%;color:#337ab7;display:block;}
                                   
                                    }

#tourist_comment .col-md-3{margin-right: -15px;}
.comment_time{margin-top: 8px;color: #8F8E8E;}
.iwantcomment{float: right;
background: #DF893A;
color: #fff;
padding: 5px 10px;
margin-right: 10px;
margin-top: 2px;}

.iwantcomment:hover{color: #fff;}
.left_words{margin-top:165px;color:#999;}
.left_pic_num{font-size: 10px;color:#999;}
.iwantcomment_text{font-size: 15px;color: #337ab7;}
@media screen and (max-width:992px){.choose_position{width:600px;height:40px;}} 
@media screen and (min-width:992px){.choose_position{width:600px;height:40px;left: 270px;position: absolute;top: 0px;}}

