
.tldate {
  display: block;
  width: 150px;
  background: #AAAAAA;
  
  color: #ededed;
  margin: 0 auto;
  padding: 3px 0;
  font-weight: bold;
  text-align: center;
  border-radius: 15%;
  font-size: 40px;
}

.description{
  
  background:rgba(0,0,0,0.2); 
  margin-top: -280px;
  height: 210px;
  overflow: hidden;
  padding: 20px;
  color: #fff;
}


.bgimg{
  background: url(/static/images/4.png);
  height: 375px;
  margin-bottom: 20px;
}

.h_10{
  height: 10px;
}
