
.tldate {
  display: block;
  width: 150px;
  background: #AAAAAA;
  
  color: #ededed;
  margin: 0 auto;
  padding: 3px 0;
  font-weight: bold;
  text-align: center;
  border-radius: 15%;
  font-size: 40px;
}

.description{
  
  background:rgba(0,0,0,0.2); 
  margin-top: -300px;
  height: 240px;
  overflow: hidden;
  padding: 20px;
  color: #fff;
}


.bgimg{
  background: url(/static/images/4.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 375px;
  margin-bottom: 20px;
}

.h_10{
  height: 10px;
}

.mynav{
  background-color: #fff;
}
.mytoggle{
  
  border-color: blue;

}
.myicon-bar{
  background-color: blue;
}


/**固定在底部的预定按钮**/
.fixed_btn{
  position:fixed; 
  right:10px; 
  bottom:10px;  
  overflow:hidden; 
  cursor:default;
   -moz-user-select:none;
}
   
/**登陆注册错误提示**/
.form-group label.error {
  
  color: #E74C3C;
  width: 100%;
  display: inline-block;
  background: url(/static/images/error-icon.png) no-repeat left center;
  padding-left: 28px;
  top: 0;
  border-color: #E74C3C;
   }

  .r-service-protocol{color:#337AB7;text-align: center;}  

  .h_10{
    height: 10px;
  }

.oneRoute_txt{
  display: inline-block;
  color: #5D96C3;
}

.my-dialog{
  height: 80%;
  overflow-y:auto;
  position: relative;
}

.ceshi{
  position: absolute;
  left: 900px;
  top: 50px;
  background-color: blue;
  width: 100px;
  height: 100px;
}