
.tldate {
  display: block;
  width: 150px;
  background: #AAAAAA;
  
  color: #ededed;
  margin: 0 auto;
  padding: 3px 0;
  font-weight: bold;
  text-align: center;
  border-radius: 15%;
  font-size: 40px;
}

.description{
  
  background:rgba(0,0,0,0.2); 
  margin-top: -300px;
  height: 240px;
  overflow: hidden;
  padding: 20px;
  color: #fff;
}


.bgimg{
  
  background-repeat: no-repeat;
  background-size: cover;
  height: 375px;
}

.h_10{
  height: 10px;
}

.mynav{
  background-color: #fff;
}
.mytoggle{
  
  border-color: blue;

}
.myicon-bar{
  background-color: blue;
}


/**固定在底部的预定按钮**/
.btn-book{
  margin-top: 8px;
}

.img_des{
  cursor: pointer;
}

   
/**登陆注册错误提示**/
.form-group label.error {
  
  color: #E74C3C;
  width: 100%;
  display: inline-block;
  background: url(/static/images/error-icon.png) no-repeat left center;
  padding-left: 28px;
  top: 0;
  border-color: #E74C3C;
   }

  .r-service-protocol{color:#337AB7;text-align: center;}  

  .h_10{
    height: 10px;
  }

.oneRoute_txt{
  display: inline-block;
  color: #5D96C3;
}


/**hotelList页面**/
.display_style{
  display: inline-block;
}
.strong_price{
  font-size:25px;
  color: #EC8348;
}

.hotel_name{
  font-size: 18px;
  margin-top: 10px;
  color:#555555;
}

.hotel_img{
  opacity: 1;
  transition:opacity 0.1s;
  -webkit-transition: opacity 0.1s; /* Safari */
}
.hotel_img:hover{
  opacity: 0.8;
}
.my_btn{
  padding: 2px 20px;
}

.hotel_choice{
  background-color: #FFFCE8;
}

.choice_txt{
  color: #BA8A49;
}


.hotel_des{
  font-size: 10px;
  padding: 0 20px;
  color: #131313;
}

.hotel_des .fa-quote-left,.fa-quote-right{
  color: #D2CFCF;
}


/**oneHotel页面**/
.portrait{
  width: 40px;
  border-radius: 10px;
}

.my_input{
  width: 50%;
  height: 34px;
}
.my_border{
  padding: 20px;
  border: 1px solid #E0E0E0;
}

.hotel_title{
  background-color: #EBF7FC;
}

.hotel_img{
  height:50px;float:left;
}
.hotel_text{
  float:left;height:50px;line-height:50px;
}
.susu_text{
  height: 34px;line-height: 34px;
}

.img_back{
  background-color: #F0F3EB;
  /*padding: 8px;
  box-shadow: 4px 4px 5px #888888;*/
}