.book_btn{
    padding: 6px 30px;
}
.strong_price{
  font-size:25px;
  color: #EC8348;
}
.h_375{
    height: 375px;
}
.font_15{
    font-size: 15px;
}

.book_btn_bg{
    background:rgba(0,0,0,0.07); height:60px; padding-top:15px;
}
/*“第一天”样式*/
.tldate {
  display: block;
  width: 150px;
  background: #AAAAAA;
  
  color: #ededed;
  margin: 0 auto;
  padding: 3px 0;
  font-weight: bold;
  text-align: center;
  border-radius: 15%;
  font-size: 40px;
}
.oneroute_back{  position:absolute;
  top:70px;
  z-index:1;width:100%;}
.description{

  background:rgba(0,0,0,0.5); 
  overflow: hidden;
  padding: 20px;
  color: #fff;
}


.bgimg{
  
  background-repeat: no-repeat;
  background-size: cover;
  height: 375px;
}

.h_10{
  height: 10px;
}

.semi-transparent{
  background-color:#000;
  background:rgba(0,0,0,0.5); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);
}
/*选择出游详情样式*/
.date_choose{width:60%;}
.male_choose{width:19%;}
.password_back{background: #fff;border-radius: 4px;padding:20px 20px 0px 20px;}
.form-group{margin-bottom:10px;}
.sure_button{padding:3px 20px;}
.click_more_route{font-size:80px;color:rgba(235, 157, 85, 0.4);padding-bottom: 40px;padding-top: 40px;}
.more_route_back{background: #F0F3EB;width:100%;height:100%;}