 /* Default tab style */
  .panel-default>.panel-heading{background:#fff;}    
  .tab-current a {
    color: #5D96C3;
  }

  

/*右侧地图*/
   /* Custom Styles */
  .affix {
      top: 20px; 
  }
  .affix-bottom {
      position: absolute;  
  }

  .fr{
    float: right;
  }
  .fa_color{
    color:#4EA1D5;
  }



  /**hotelList页面**/
  .display_style{
    display: inline-block;
  }
  .strong_price{
    font-size:25px;
    color: #EC8348;
  }

  .hotel_name{
    font-size: 18px;
    margin-top: 10px;
    color:#555555;
  }

  .hotel_img{
    opacity: 1;
    transition:opacity 0.1s;
    -webkit-transition: opacity 0.1s; /* Safari */
  }
  .hotel_img:hover{
    opacity: 0.8;
  }
  .my_btn{
    padding: 2px 20px;
  }

  .hotel_choice{
    background-color: #FFFCE8;
  }

  .choice_txt{
    color: #BA8A49;
  }


  .hotel_des{
    font-size: 10px;
    padding: 0 20px;
    color: #131313;
  }

  .hotel_des .fa-quote-left,.fa-quote-right{
    color: #D2CFCF;
  }

