/**头部名片**/
.portrait{
  width: 40px;
  border-radius: 10px;
}

.my_input{
  width: 50%;
  height: 34px;
}
.my_border{
  padding: 20px;
  border: 1px solid #E0E0E0;
}

.hotel_title{
  background-color: #EBF7FC;
}

.hotel_img{
  height:50px;float:left;
}
.hotel_text{
  float:left;height:50px;line-height:50px;
}
.susu_text{
  height: 34px;line-height: 34px;
}

.img_back{
  background-color: #F0F3EB;
  /*padding: 8px;
  box-shadow: 4px 4px 5px #888888;*/
}

/*房型与价格*/
#hotel_style1 .bottom_B{
border-bottom:1px solid #DDDDDD;}
#hotel_style1 .my_cen{
vertical-align:middle;
}
.p_cen{
height:40px; line-height:40px;
}

.clearpadding{
  padding:0px;
}
.Bright{
  border-right:1px solid #DDDDDD; 
}
